h1{
  text-align:center;
  font-size:50px;
  font-family:"sans-serif";
  background-color:rgb(225, 161, 238);
}

body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

ol, ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background:  rgb(230, 198, 235);
  border: 2px solid black;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 60px;
  height:50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(212, 169, 169);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 35px;
}